.img {
    -webkit-transform: rotate(90deg) scale(.7);
    -moz-transform: rotate(90deg) scale(.7);
    -o-transform: rotate(90deg) scale(.7);
    -ms-transform: rotate(90deg) scale(.7);
    transform: rotate(90deg) scale(.7);
    padding: 0;
}