table {
    width: 800px;
    margin: 0 auto;
    background-color: $color-white-light;
    color: $color-black;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;

    th {
        background-color: lightblue;
        padding: .5rem;
        // color: white;
    }

    th, td {
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    // tr:nth-child(even) {
    //     background-color: #f2f2f2;
    // }
}

.thead-background {
    width: 100%;
    background: #000;
}