$color-primary: #7ed56f; // Pastel Green

$color-blue: #0D324D; // Prussian Blue
$color-blue-green: #0FA3B1; // Viridian Green
$color-grey-dark: #777; // Boulder Grey
$color-grey-light-1: #f7f7f7; // Alabaster Grey
$color-red: #E15554; // Indian Red
$color-white-dark: #FAF3DD; // Eggshell White

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;