.output {
    background-color: #fff;
    width: 800px;
    margin: auto;
    color: #000;



    &__table {
        width: 100%;
        border-radius: 3rem;

        th {
            background-color: lightblue;
            // color: white;
        }

        th, td {
            text-align: left;
            padding: .5rem;
            border-bottom: 1px solid #ddd;
        }
    }
}